.clients {
  background-image: url("/img/bg-people-say.png");
  height: 100%;
  padding-top: 50px;
  background-size:cover;
}

.clients-title {
  padding-top: 60px;
}

.client-name {
  font-family: "Monserat-regular", sans-serif;
  font-size: 14px;
  text-transform: uppercase !important;
  text-align: left;
}

.client-prof {
  font-family: "Roboto-LightItalic", sans-serif;
  font-size: 15px;
  text-align: left;

}

.client-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;

}