@import "fonts";
@import "main-slider";
@import "accordion";
@import "blog";
@import "info";
@import "work-list";
@import "services";
@import "unique-design";
@import "brands";
@import "team";
@import "client";
@import "gallery";
@import "footer";
@import "slider-2";

@color-main:#95e1d3;





html, body {
  min-height: 100%;
}

.header-contnain{
  position: absolute;
}

.navbar-set {
  border-color: transparent;
  background-color: transparent;

}

.container-fluid {
  padding: 0;

}

.nav-menu > li > a {
  color: white !important;
  text-transform: uppercase;
}

.nav-menu > li > a:hover {
  color: orange !important;
  border-bottom: 2px solid orange;
}



#brand-name {
  color: white;
  font-size: 36px;
  font-family: "Monserat-bold", sans-serif;
  &:hover{

    color:wheat;
    border-right: 4px solid orange;

  }
}



.main {
  position: relative;
}

.table-header{
  background-image: url("/img/bg-table.jpg");
  height: 100%;
  background-size: cover;
}
.btn-table{

  margin-bottom: 50px;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {

  background-color: #95e1d3;
  border-color: #95e1d3;

}
.pagination>li>a,
.pagination>li>span {
  color: grey;
}


#data-table th{
  background-color: darken( #95e1d3,20%) ;
  color: white;
  text-align: center;
  font-family: "Monserat-bold",sans-serif;
  font-size: 13px;

}
.table-hover>tbody>tr:hover {
  background-color:  lighten(#95e1d3,20%);
}
td,th{
  font-size: 12px;
  padding: 5px !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
  display: none;
  opacity: 1;
}


#toTop {
  width:100px;
  border:1px solid #ccc;
  background:#95e1d3;
  text-align:center;
  padding:5px;
  position:fixed;
  bottom:10px;
  right:10px;
  cursor:pointer;
  display:none;
  color:white;
  font-family:"Monserat-bold",sans-serif;
  font-size:14px;
  opacity: .4;
}
#toTop:hover{
  opacity: 1;
 }


@media (max-width: 1024px) {
  .nav-menu > li > a {
    font-size: 12px;
  }
  .navbar-nav>li>a{
    padding: 5px;
  }
}



