.slider-container{
  position: relative;
}
.slider-text-container{
  position: absolute;
  top: 25%;
  left: 25%;
}
.btn-in-slider {
  background-color: transparent;
  border-radius: 0;
  color: white;
  width: 160px;
  font-family: "Monserat-bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.slide-text {
  font-family: "Kaushan", sans-serif;
  font-size: 52px;
}

.slider-title {
  font-family: "Monserat-bold", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
}