.img-team {
  border: none;
}

.above:hover {
  display: block;

}
.above {
  background: linear-gradient(to  top, rgba(255,255,0,0.5), rgba(255,0,0,0.5));
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;

}

.img-team {
  position: relative;
  padding: 0;
}

.img-hover {
  position: relative;
}

.img-hover:hover {
  box-shadow: 20px 20px #95e1d3;
}

.img-hover:hover .above {
  display: block;
}
.btn-team{
  height: 55px;
  width: 55px;
  background-color: #fce38a;
}
.btn-group-team{
  position: absolute;
  top: 45%;
  left: 20%;
}
.team-img {
  padding-right: 30px;
  box-sizing: border-box;
}

.team-img > img:hover {
  box-shadow: 10px 10px #95e1d3;
}