.design {
  background-image: url("/img/slider2-bg.jpg");
  height: 850px;
  position: relative;
}

.img-wrapper{
  position: relative;
  margin-top: 100px;
}

.bg3 {
  position: absolute;
  z-index: 0;
  height: 570px;
  width: 470px;
  left: 30%;
  margin-top: 85px;
}

.bg4 {
  position: absolute;
  z-index: 2;
  left: 60%;
  margin-top: 280px;
  height: 420px;
}